.bg-container2 {
  background-size: cover;
  background-color: black;
  height: 100vh;
}

.after-header {
  background-size: cover;
  min-height: 100vh;
}

@media (max-width: 576px) {
  .after-header {
    background-size: cover;
    min-height: 100vh;
  }
}

.inner-card {
  width: 35%;

  margin-left: 25px;
}

.head {
  color: white;
}

.para {
  color: white;
}
